/* start normalize */
:root {
  --main-color: #ff274b;
  --second-color: #c34646;
  --light-color: #fff;
  --bgcolor: #171a1c;
  --bgcolor2: #22282a;
  --padding: 20px;
  --main-transition: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--light-color);
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.main-color {
  color: var(--main-color);
}
.main-h2 {
  text-align: center;
  padding: 30px 0px;
  font-size: 35px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* start media for container */
/*small*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*larg*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
button.active {
  opacity: 1 !important;
  font-weight: bold;
  letter-spacing: 0.6px;
  border: 1px solid var(--main-color);

}
/* end media for containers */
